@{
    Layout = "_LandingLayout";
    ViewData["Title"] = "Services";
}

<div class="back_re">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2>Our Pricing</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our pricing -->
<div class="pricing slin">
    <div class="container">
        <div class="row">
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>2999 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>KERATIN / KERACOLLAGEN (ANY LENGTH)✨</span>
                        <p>Organic protein rebonding treatment. Regular price: ₱4500.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>2000 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>CYSTEINE DIAMOND BRAZILIAN</span>
                        <p>Combination of KeraCollagen and 1 keratin. Regular price: ₱3000.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>2500 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>CYSTEINE DIAMOND BRAZILIAN (Natural Straight)</span>
                        <p>Free Color 90 percent straight. Regular price: ₱3500.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>1299 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>DIAMOND BRAZILIAN with free Hair Color</span>
                        <p>Regular price: ₱1799.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>1499 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>ORGANIC DIAMOND BRAZILIAN w/ ORGANIC HAIR COLOR</span>
                        <p>Regular price: ₱1999.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>1799 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>REBOND ONLY</span>
                        <p>No color.</p>l 
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>2499 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>REBOND BRAZILIAN with or without color</span>
                        <p>Regular price: ₱3000.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>5000 - 6000 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>PROTEIN and BALAYAGE / HIGHLIGHTS</span>
                        <p>Regular price: ₱6000.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>3000 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>ORGANIC COLOR plus ORGANIC BALAYAGE / HIGHLIGHTS and ORGANIC BRAZILIAN</span>
                        <p>Regular price: ₱3999.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>699 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>ORGANIC HAIR COLOR --ONLY</span>
                        <p>With free Loreal Hair Spa.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>3000 - 3999 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>HOMBRE / BALAYAGE w/ FREE LOREAL HAIR SPA</span>
                        <p>Regular price: ₱3999.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>1499 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>ORGANIC HIGHLIGHTS</span>
                        <p>Regular price: ₱2000.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>1999 <strong>Any Length</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>ORGANIC HIGHLIGHTS and ORGANIC COLOR</span>
                        <p>Regular price: ₱2500.</p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
            <!-- Pricing Box -->
            <div class="col-md-4">
                <div class="pricing_box">
                    <div class="pricing_box_ti">
                        <h3> <span>₱</span>150 <strong>Only</strong></h3>
                    </div>
                    <div class="our_pricing">
                        <span>HAIR CUT</span>
                        <p></p>
                    </div>
                    <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                </div>
            </div>
            <!-- End Pricing Box -->
        </div>
    </div>
</div>