@model salonytics.Models.Entities.OrderDetail

<h1>Purchase Confirmed</h1>

<div>
    <h4>Order Id: @Model.Id</h4>
    <h4>Inventory Id: @Model.InventoryId</h4>
    <h4>Quantity: @Model.Quantity</h4>
    <h4>Price: @Model.Price</h4>
</div>
