@{
    Layout = "_UserDashboardLayout";
    ViewData["Title"] = "Branches";
}

<div class="container">
    <h2><img src="~/images/our_branches.png" alt="Our Branches"></h2>

    <!-- Branch 1 -->
    <div class="branch">
        <h3>Apalit Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d963.7027963248762!2d120.75851045697824!3d14.947609191750143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339657fd75cc7a57%3A0xc2e16515675cbf9d!2s588%20Shopping%20Mall!5e0!3m2!1sen!2sph!4v1716537942289!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> Mc Arthur Highway San Vicente Apalit Pampanga </p>
        <p><strong>Landmark:</strong> Beside Gas N Go Gas station, Near 588 Shopping Mall</p>
        <p><strong>Phone:</strong> 0907-687-0626</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100083265794543">Apalit Branch</a></p>
    </div>

    <!-- Branch 2 -->
    <div class="branch">
        <h3>Bocaue Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.09331109989344!2d120.92915811990432!3d14.797565072762527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397ad6e31145a83%3A0x50c01790b3fd628c!2sGoldilocks!5e0!3m2!1sen!2sph!4v1716539148699!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> Biñan ll , Bocaue Crossing </p>
        <p><strong>Landmark:</strong> Beside Goldilocks, in front of 7/11</p>
        <p><strong>Phone:</strong> 0918-925-1707 / 0927-921-2679</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100087666686282">Bocaue Branch</a></p>

    </div>

    <!-- Branch 3 -->
    <div class="branch">
        <h3>Guiguinto Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d964.2369584581127!2d120.87814789999999!3d14.8281856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339652dea9c1b951%3A0x8c7ba353037aeb86!2sSt.%20Agatha%20Square!5e0!3m2!1sen!2sph!4v1716539468881!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> St Agatha Square Guiguinto Bulacan, Guiguinto, Philippines, 3000 </p>
        <p><strong>Landmark:</strong> Infront of 7-11, near municipal building</p>
        <p><strong>Phone:</strong> 0918-925-1707</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100076239458595">Guiguinto Branch</a></p>
    </div>

    <!-- Branch 4 -->
    <div class="branch">
        <h3>Malolos Main Branch </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18345.44906011141!2d120.80443173699705!3d14.844575533683773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396535e4d93c553%3A0x3a281e410fa94b19!2sThe%20Salon%20By%20Marian%20Libiran!5e0!3m2!1sen!2sph!4v1716541161216!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> 2 Paseo del Congreso St, Malolos, 3000 Bulacan </p>
        <p><strong>Landmark:</strong> Near Phil-trust bank</p>
        <p><strong>Phone:</strong> 0927-921-2679</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100064731847149">Malolos Main Branch</a></p>
    </div>

    <!-- Branch 5 -->
    <div class="branch">
        <h3>Mojon Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.6769409161634!2d120.82085123602859!3d14.867228645132514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339653e957f82ca5%3A0x8d85fb953151b8c3!2sSalon%20Marian%20Libiran!5e0!3m2!1sen!2sph!4v1716542596031!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> Rose Gatchalian Building, 132 A Mabini, Malolos, 3000 Bulacan </p>
        <p><strong>Landmark:</strong> Near 7-11 and Menzyland Homes</p>
        <p><strong>Phone:</strong> 0947-965-0348</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100070588851007">Mojon Branch</a></p>
    </div>

    <!-- Branch 6 -->
    <div class="branch">
        <h3>Plaridel Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.99353084340277!2d120.86764052510264!3d14.887065129085203!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339654975a8ca2b1%3A0x3da21d38aca1a001!2sMeet%20Our%20Meats%20Pares!5e0!3m2!1sen!2sph!4v1716544332169!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> 3333 1, Banga 1, Plaridel, 3004 Bulacan </p>
        <p><strong>Landmark:</strong> 2nd floor beside A&M Clothing</p>
        <p><strong>Phone:</strong> 0918-925-1707</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100066956664693">Plaridel Branch</a></p>
    </div>

    <!-- Branch 7 -->
    <div class="branch">
        <h3>Pulilan Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d340.79424781407874!2d120.86727547235631!3d14.901016841092607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339654ebf36bca7f%3A0xc09548ae09645aba!2sMercury%20Drug%20DRT%20Sto.%20Cristo%20Pulilan%20Junction!5e0!3m2!1sen!2sph!4v1716546094122!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> Doña Remedios Trinidad Hwy, Pulilan, Bulacan </p>
        <p><strong>Landmark:</strong> In front of Mercury Drug</p>
        <p><strong>Phone:</strong> 0917-116-9048</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100063672379081">Pulilan Branch</a></p>
    </div>

    <!-- Branch 8 -->
    <div class="branch">
        <h3>San Fernando Pampanga Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3853.1828569870722!2d120.6797067094902!3d15.037998885441349!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f77ed77435cf%3A0x814f796c0f76c0df!2s5G%20building!5e0!3m2!1sen!2sph!4v1716547164906!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> 5G Building, MacArthur Hwy, San Fernando, 2000 Pampanga </p>
        <p><strong>Landmark:</strong> In front of Plaza Garcia</p>
        <p><strong>Phone:</strong> 0918-925-1707</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100086745249357">San Fernando Pampanga Branch</a></p>
    </div>

    <!-- Branch 9 -->
    <div class="branch">
        <h3>South Branch Malolos</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3856.2246312515827!2d120.79899780948602!3d14.868712485590194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339653af937db881%3A0xc8575fff0f2010d1!2sVR92%2BFJP%2C%20Malolos%2C%20Bulacan!5e0!3m2!1sen!2sph!4v1716548007513!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> 5G Building, MacArthur Hwy, San Fernando, 2000 Pampanga </p>
        <p><strong>Landmark:</strong> In front of 7/11, beside Boss Lechon</p>
        <p><strong>Phone:</strong> 0927-921-2679</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100063639206505">South Branch Malolos</a></p>
    </div>

    <!-- Branch 10 -->
    <div class="branch">
        <h3>Sta. Rita Guiguinto Branch</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7713.2778965508915!2d120.85320386020452!3d14.845508185245508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339653056f336ea7%3A0x6fdb7e5ef1c4fb92!2sSalon%20Marian%20Libiran!5e0!3m2!1sen!2sph!4v1716548729856!5m2!1sen!2sph" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p><strong>Address:</strong> Sta.Rita Guiguinto Bulacan </p>
        <p><strong>Landmark:</strong> In front of St. Agatha Village</p>
        <p><strong>Phone:</strong> 0995-481-8562</p>
        <p><strong>Hours:</strong> Mon - Fri 8:30-6:00pm , Sat - Sun 7:30-6:00pm</p>
        <p><strong>Facebook: </strong> <a href="https://www.facebook.com/profile.php?id=100076239458595">Sta. Rita Guiguinto Branch</a></p>
    </div>
</div>
